$color-link: rgb(242, 114, 12);
$color-link-hover:  #da9d6b;//#f1aa72;
$color-text-primary: #61677C;
$color-background: #ebebeb;
$color-white: #ffffff;
$color-shadow:#d4d4d4;
$color-border: #dadada;
$color-light-gray:  #f7f7f7;
$color-gradient-first: #f1f1f1;
$color-gradient-second:#e0e0e0;

$content-width: 1197px;
$tablet-width: 767px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;