$color-link: rgb(242, 114, 12);
$color-link-hover:  #da9d6b;//#f1aa72;
$color-text-primary: #61677C;
$color-background: #ebebeb;
$color-white: #ffffff;
$color-shadow:#d4d4d4;
$color-border: #dadada;

$content-width: 1197px;
$tablet-width: 767px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;