.btn {
  padding: 8px;
  min-width: 72px;
  cursor: pointer;
  min-height: 36px;
  border-radius: 24px;
  border: none;
  outline: none;
  color: $color-text-primary;
  background: linear-gradient(145deg, #fbfbfb, #e0e0e0);

  transition: 0.1s ease-in-out;

  @include box-shadow(3px 3px 3px $color-shadow, -3px -3px 3px $color-white);

  &:hover {
    @include box-shadow(4px 4px 5px $color-shadow, -4px -4px 5px $color-white);
  } 

  &:active {
    @include box-shadow( inset 3px 3px 3px $color-shadow, inset -3px -3px 3px $color-white);
  }
}