.btn {
  padding: 8px;
  min-width: 80px;
  cursor: pointer;
  min-height: 36px;
  border-radius: 24px;
  border: none;
  outline: none;
  color: $color-text-primary;
  background: linear-gradient(145deg, #fbfbfb, #e0e0e0);
  box-shadow: 5px 5px 7px #d1d1d1,
             -5px -5px 7px $color-white;

  &:active {
    box-shadow:inset 5px 5px 7px #d1d1d1,
    inset -5px -5px 7px $color-white;
  }
}