
.search-result_item {
  width: 100%;
  margin: 12px 0;
  display: flex;
  padding: 12px;
  flex-wrap: wrap;
  transition: width 1s ease-in-out;
  box-sizing: border-box;
  a {
    padding: 0;
    text-decoration: none;
    color: $color-text-primary;
    transition: 0.1s ease-in-out;
    &:hover {
      color: $color-link-hover;
    }
  }
  border-radius: 12px;
  background: linear-gradient(145deg, $color-gradient-first, $color-gradient-second);

  @include box-shadow(5px 5px 10px $color-shadow, -5px -5px 10px $color-white);

  }

.search-result_item__theme {
  width: calc(100% - 50px);
  word-break: break-word;
}

.search-result_item__answers {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: 10px;
  width: 50px;
  span:first-child {
    font-size: 14px;
  }
  height: 40px;
  border-radius: 8px;

  @include box-shadow(1px 1px 5px $color-shadow, -1px -1px 5px $color-white);

  &:hover {
    @include box-shadow(2px 2px 5px $color-shadow, -2px -2px 5px $color-white);
  }
}


.search-result_item__info {
  display: flex;  
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 24px;
  padding: 12px 0 0;
}
