.tags {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0;
}

.tag {
  background-color: $color-light-gray;
  border-radius: 4px;
  margin: 2px;
  padding: 4px;
  white-space: pre;
  cursor: pointer;
}