.sorting {
  display: flex;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.sorting_title {
  margin-right: 12px;
  white-space: nowrap;
}

.sorting_buttons {
  display: flex;
  justify-content: space-between;

  button {
    margin: 0 12px;
  }
}