.question {
  div, p {
    max-width: 100%;
  }
  pre {
    font-size: 14px;
    background-color: rgb(246, 246, 246);
    padding: 8px;
    white-space: pre-wrap;
  }
  h2 {
    font-size: 18px;
  }
}