.question_content {

  padding: 12px;
  div, p {
    max-width: 100%;
  }
  pre {
    font-size: 14px;
    background-color: $color-light-gray;
    padding: 8px;
    width: 400px;
    width: 80%;
    margin: 24px auto;
    border-radius: 24px;
    white-space: pre-wrap;
    word-break: break-word;
    @include box-shadow(-1px -1px 3px $color-white, 1px 1px 3px $color-shadow);

  }
  h2 {
    font-size: 18px;
  }
  img {
    max-width: 100%;
  }
}

