.question {

  background-color: #ebebeb;
padding: 12px;
  div, p {
    max-width: 100%;
  }
  pre {
    font-size: 14px;
    // background-color: rgb(246, 246, 246);
    padding: 8px;
    width: 400px;
    width: 80%;
    margin: 24px auto;
    border-radius: 24px;
    white-space: pre-wrap;
    box-shadow:  -3px -3px 6px  #d1d1d1,
    3px 3px 6px  #ffffff;
  }
  h2 {
    font-size: 18px;
  }
  img {
    max-width: 100%;
  }
}