.search {
  width: 100%;
  background-color: $color-background;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search_logo{

  width: 280px;
}